/* Reset some default styles to ensure consistency */
body, h1, h3 {
    margin: 0;
    padding: 0;
}

/* Apply styles to the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.GENERAL_FORMATTING {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.title {
    
}

.map {
    border: solid 1px #000;
    border-radius: 30rem;
    background-color: #b5ddfc;
}

.tooltip {
    position: fixed;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    z-index: 10;
    font-weight: normal;
  }